footer {
  background-color: #fff;
  bottom: 0;
  left: 0;
  padding: 12px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

footer a {
  color: rgb(55, 53, 47);
  font-family: Lyon-Text, Georgia, YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Songti TC", "Songti SC", "SimSun", "Nanum Myeongjo", NanumMyeongjo, Batang, serif;
  font-size: 17px;
  line-height: 1.6;
}

footer a:visited {
  color: rgb(55, 53, 47);
}
